
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,600,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.progress-info, .post-navigation, .latest-posts .post,
.clearfix,
.fixed-header {
  *zoom: 1; }
  .progress-info:before, .post-navigation:before, .latest-posts .post:before, .progress-info:after, .post-navigation:after, .latest-posts .post:after,
  .clearfix:before,
  .fixed-header:before,
  .clearfix:after,
  .fixed-header:after {
    content: " ";
    display: table; }
  .progress-info:after, .post-navigation:after, .latest-posts .post:after,
  .clearfix:after,
  .fixed-header:after {
    clear: both; }

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Open Sans", sans-serif;
  color: #444;
  font-size: 13px;
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff; }

a {
  color: #eb7a5c;
  text-decoration: none !important; }
  a:hover {
    color: #e5552f; }

::selection {
  background: #eb7a5c;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #eb7a5c;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #eb7a5c;
  color: #fff;
  text-shadow: none; }

img::selection {
  background-color: transparent; }

img::-moz-selection {
  background-color: transparent; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase; }

h1 {
  font-size: 36px;
  font-weight: 100; }

h2 {
  font-size: 30px;
  font-weight: 100; }

h3 {
  font-size: 24px;
  font-weight: 100; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

h3.heading {
  font-size: 18px;
  font-weight: normal; }

p {
  margin-bottom: 30px; }
  p:last-child {
    margin-bottom: 0; }
  p.intro {
    font-size: 17px;
    text-align: justify;
    margin-bottom: 30px;
  }
  p.intro.center{
    text-align: center;
  }
.inner-pages .italic{
  font-style: italic;
  color: #a2a2a2;
}

strong {
  font-weight: 700; }

.t-btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 20px;
  font-size: 12px;
  border-radius: 0;
  border: none;
  outline: none;
  display: inline-block; }

.t-btn-default {
  background: #000;
  color: #fff; }
  .t-btn-default:hover, .t-btn-default:focus {
    color: #fff;
    background: rgba(0, 0, 0, 0.9); }

.t-btn-primary {
  background: #eb7a5c;
  color: #fff; }
  .t-btn-primary:hover {
    color: #fff;
    background: #eb7a5c; }

.t-btn-light {
  background: #f3f3f3;
  color: #000; }
  .t-btn-light:hover {
    color: #000; }

.t-btn-outline {
  background-color: transparent;
  -moz-box-shadow: 0 0 2px #fff;
  -webkit-box-shadow: 0 0 2px #fff;
  box-shadow: 0 0 2px #fff; }

.t-btn-rounded {
  border-radius: 21px; }
.form-group input{
  height: 42px;
}
.form-group input,
.form-group textarea,
.form-group select,
.form-group option {
  width: 100%; }
.form-group input[type="submit"] {
  width: auto;
  margin: 0 auto;
  display: block;
}

.form-group textarea{min-height: 90px;}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="file"],
select,
select>option,
textarea {
  max-width: 100%;
  color: #444;
  padding: 10px;
  margin-bottom: 15px;
  outline: 0;
  border: 1px solid #ddd;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  input[type="text"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="number"]:-moz-placeholder,
  input[type="date"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder,
  input[type="url"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder,
  input[type="file"]:-moz-placeholder,
  input[type="file"]:-moz-placeholder,
  select:-moz-placeholder {
    color: #444; }
  input[type="text"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="number"]::-moz-placeholder,
  input[type="date"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder,
  input[type="url"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder,
  input[type="file"]::-moz-placeholder,
  select::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #444; }
  input[type="text"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="number"]:-ms-input-placeholder,
  input[type="date"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder,
  input[type="url"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder,
  input[type="file"]:-ms-input-placeholder,
  select:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #444; }
  input[type="text"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  input[type="date"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="file"]::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #444; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus,
  input[type="password"]:focus,
  input[type="url"]:focus,
  input[type="tel"]:focus,
  input[type="file"]:focus,
  select:focus,
  textarea:focus {
    border-color: #aaaaaa; }

#cancel_form{
  display: block;
  min-width: 130px;
  margin: 10px auto 0;
  text-decoration: none;
}
ul {
  margin: 20px 0;
  list-style: square;
  list-style-position: inside; }
  ul li {
    padding: 0; }
    ul li ul {
      padding-left: 30px; }
  ul.border-list {
    list-style: none; }
    ul.border-list li {
      border-bottom: 1px solid #ddd;
      padding: 10px 0; }
  ul a {
    color: #000; }
    ul a:hover {
      color: #eb7a5c; }

ol {
  margin: 20px 0;
  list-style: decimal;
  list-style-position: inside; }
  ol li {
    padding: 5px 0; }
    ol li ol {
      margin: 0;
      padding-left: 30px; }

pre {
  display: block;
  line-height: 1.75em;
  padding: 30px 30px 10px 30px;
  overflow-x: auto;
  color: #a2a2a2;
  background: #f3f3f3;
  border-radius: 0; }

blockquote {
  font-family: "Roboto Slab", serif;
  padding: 10px 15px 10px 30px;
  font-size: 17px;
  color: #a2a2a2;
  border-left: 4px solid #ddd;
  font-weight: 300; }
  blockquote a {
    color: #a2a2a2 !important; }

table {
  margin: 0 0 30px 0;
  width: 100%;
  border: 1px solid #ddd; }
  table tbody tr {
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0; }
  table th {
    color: #000;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-left: 1px solid #ddd; }
  table td {
    padding: 10px 15px;
    border-left: 1px solid #ddd; }
table .date{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}
table .program{
  font-size: 16px;
}
.pagination > li > a,
.pagination > li > span {
  color: #444;
  padding: 10px 15px;
  margin-right: 4px;
  border-color: #ddd;
  -moz-transition: all, 0.2s;
  -o-transition: all, 0.2s;
  -webkit-transition: all, 0.2s;
  transition: all, 0.2s; }
  .pagination > li > a:focus,
  .pagination > li > span:focus {
    color: #444;
    background: inherit;
    border-color: #ddd; }
  .pagination > li > a:hover,
  .pagination > li > span:hover {
    background: inherit;
    border-color: #eb7a5c;
    color: #eb7a5c; }

.pagination > li:first-child a, .pagination > li:first-child span {
  border-radius: 0; }
.pagination > li:last-child a, .pagination > li:last-child span {
  border-radius: 0; }
.pagination > li.active a, .pagination > li.active span {
  background: inherit;
  border-color: #eb7a5c;
  color: #eb7a5c; }
  .pagination > li.active a:hover, .pagination > li.active a:focus, .pagination > li.active span:hover, .pagination > li.active span:focus {
    background: inherit;
    border-color: #eb7a5c;
    color: #eb7a5c; }

.drop-cap {
  display: block;
  float: left;
  text-align: center;
  margin: 5px 10px 8px 0;
  font-size: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px; }

.call-to-action {
  padding: 50px 0 }
  .call-to-action .banner {
    text-align: center;
    padding: 0 30px; }
    .call-to-action .banner .banner-heading {
      font-size: 28px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 300;
      color: #fff;
      margin: 20px 0;
      margin-top: 0; }
    .call-to-action .banner .banner-description {
      color: #fff;
      margin: 20px 0; }
    .call-to-action .banner .banner-button {
      margin-top: 40px; }

.progress {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: none;
  border-radius: 0;
  height: 3px; }

.progress-bar {
  background: #eb7a5c;
  box-shadow: none; }

.progress-info {
  margin-bottom: 5px; }

.skill {
  float: left;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.skill-value {
  float: right;
  font-size: 12px; }

.fact-item .count-icon {
  display: inline-block;
  margin: 8px;
  font-size: 20px; }
.fact-item .count-focus {
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  display: inline-block;
  margin: 8px; }
.fact-item .fact-role {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  display: block; }

.white {
  color: #fff !important; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.m0 {
  margin: 0; }

.mt-0 {
  margin-top: 0; }

.mt-1 {
  margin-top: 20px; }

.mt-2 {
  margin-top: 30px; }

.mt-3 {
  margin-top: 40px; }

.mt-4 {
  margin-top: 60px; }

.mb-0 {
  margin-bottom: 0; }

.mb-half {
  margin-bottom: 10px; }

.mb-1 {
  margin-bottom: 20px; }

.mb-2 {
  margin-bottom: 30px; }

.mb-3 {
  margin-bottom: 40px; }

.mb-4 {
  margin-bottom: 60px; }

.icon-left {
  margin-right: 10px; }

.icon-right {
  margin-left: 10px; }

/* Header
-------------------------------------------------------------- */
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.fixed-header {
  padding: 0;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  @media (max-width: 768px) {
    .fixed-header {
      padding: 0; } }

.fixed-header .container:before{
  content: "";
  position: absolute;
  top: 60px;
  height: 1px;
  width: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
}
.scrolled-header,
.inner-pages .fixed-header {
  padding: 0;
  background: rgba(255, 255, 255, 0.96);
  -moz-box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.08); }
  .scrolled-header .logo .site-brand,
  .inner-pages .fixed-header .logo .site-brand {
    color: #000; }
  .scrolled-header .main-menu > li > a,
  .inner-pages .fixed-header .main-menu > li > a {
    color: #000; }
    .scrolled-header .main-menu > li > a.active,
    .inner-pages .fixed-header .main-menu > li > a.active {
      color: #eb7a5c; }
  .scrolled-header .sb-toggle-left i,
  .scrolled-header .sb-toggle-right i,
  .inner-pages .fixed-header .sb-toggle-left i,
  .inner-pages .fixed-header .sb-toggle-right i {
    color: #000; }
   .inner-pages .header_descr{
     color: #000;
   }
.inner-pages .widget-title{
  margin: 50px auto;
}
.inner-pages #map-holder{
  display: none;
}
.logo {
  float: left;
  margin: 5px 25px 0px 0;
  max-width: 120px; }
  .logo .site-brand {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px; }
    .logo .site-brand img {
      width: 100%; }

.header-space {
  display: block;
  width: 100%; }

/* Navigation
-------------------------------------------------------------- */
nav.site-nav {
  float: none;
  display: block;
  width: 100%;
}


ul.main-menu {
  margin: 0 auto ;
  text-align: center;
  list-style: none; }
  ul.main-menu > li {
    position: relative;
    display: inline-block;
    padding: 0 15px; }
    ul.main-menu > li a {
      text-transform: uppercase;
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      letter-spacing: 2px;
      display: inline-block;
      color: #fff;
      padding: 10px 0; }
      ul.main-menu > li a i {
        margin-left: 4px; }
    ul.main-menu > li ul {
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      top: 90%;
      left: 0;
      width: 230px;
      background: #fff;
      padding: 10px;
      visibility: hidden;
      opacity: 0;
      -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
      -moz-transition: all, 250ms;
      -o-transition: all, 250ms;
      -webkit-transition: all, 250ms;
      transition: all, 250ms;
      -moz-transform: translate3d(0, 20px, 0);
      -ms-transform: translate3d(0, 20px, 0);
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0); }
      ul.main-menu > li ul a {
        color: #000;
        text-transform: capitalize;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        text-align: left;
        letter-spacing: 0.5px;
        padding: 6px 15px;
        display: block; }
        ul.main-menu > li ul a:hover {
          color: #eb7a5c; }
        ul.main-menu > li ul a i {
          padding-top: 4px;
          float: right; }
      ul.main-menu > li ul > li {
        position: relative;
        padding: 0; }
        ul.main-menu > li ul > li > ul {
          position: absolute;
          left: 100%;
          top: 0; }
  ul.main-menu li:hover > ul {
    visibility: visible;
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.sb-toggle-left,
.sb-toggle-right {
  padding: 15px 0; }
  .sb-toggle-left i,
  .sb-toggle-right i {
    font-size: 18px;
    padding: 12px 0;
    cursor: pointer;
    color: #fff; }

.sb-toggle-right{
  width: 5%;
}

.slidebar-menu ul {
  margin: 0;
  list-style: none; }
.slidebar-menu li {
  border-bottom: 1px solid #333333;
  padding: 0; }
  .slidebar-menu li ul {
    padding: 0; }
    .slidebar-menu li ul a {
      padding-left: 30px;
      font-size: 11px; }
    .slidebar-menu li ul li:last-child {
      border-bottom: none;
      padding-bottom: 0; }
    .slidebar-menu li ul ul a {
      padding-left: 45px; }
.slidebar-menu a {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  font-size: 12px;
  padding: 12px 15px;
  display: block; }
.slidebar-menu .sub-menu {
  display: none;
  border-top: 1px solid #333333; }
  .slidebar-menu .sub-menu.open {
    display: block; }
.slidebar-menu .has-submenu {
  position: relative;
  width: 100%; }
  .slidebar-menu .has-submenu i {
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    background: rgba(0, 0, 0, 0.2);
    border-left: 1px solid #333333;
    text-align: center;
    line-height: 45px; }

/* Main Content
-------------------------------------------------------------- */
.loader-wrap {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100000; }
.ny_loader{
  width: 70px;
  height: 70px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
}
.ny_loader img{
  width: 100%;
  height: auto;
}
.spinner-svg {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  font-size: 10px;
  /*text-indent: -12345px;*/

  -moz-animation: spinner-anim 700ms infinite linear;
  -webkit-animation: spinner-anim 700ms infinite linear;
  animation: spinner-anim 700ms infinite linear;
}


@-moz-keyframes spinner-anim {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes spinner-anim {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spinner-anim {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.animated {
  visibility: hidden; }

.visible {
  visibility: visible; }
.center{
  text-align: center ;
}
.left{
  text-align: left ;
}
.right{
  text-align: right ;
}
.justify{
  text-align: justify ;
}
.slider-caption {
  text-align: center; }
  .slider-caption h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100 ;
    letter-spacing: 6px;
    color: #fff;
    margin-top: 15% !important;
    margin-bottom: 30px ; }

  .slider-caption .caption-desc {
    font-size: 16px;
    line-height: 1.2;
    text-align: justify;
    color: #cccccc ;
    margin: 0 auto 30px ;
    display: block;
  }
  .slider-caption .caption-desc a{
    font-size: 16px ;
  }
  .slider-caption .caption-btns {
    margin-top: 50px; }
    .slider-caption .caption-btns a {
      color: #fff ;
      display: block !important;
      width: 20% !important;
      text-align: center;
      margin: 10px auto !important;;
    }
      .slider-caption .caption-btns a.t-btn-light {
        color: #000 !important; }
    .slider-caption .caption-btns a > i{
      font-size: inherit !important;
      line-height: 1.2;
      font-weight: normal;
    }
  .speaker_box{
    display: block;
    width: 100%;
    /*max-height: 360px;*/
    margin-bottom: 30px;
    /*position: relative;*/
  }
  .speaker_box img{
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .speaker_descr_box{
    position: relative;
    z-index: 300;
    display: block;
    width: 80%;
    padding: 0;
    height: 55px;
    margin: -50px auto 20px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .speaker_descr_box .speaker_title{
    color: #ffffff;
    margin: 0 auto;
    padding: 5px 0;
    font-weight: bold;
    line-height: 1;
    font-size: 16px;
  }
  .speaker_descr_box p{
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 12px;
  }
  .speaker_box .company_logo_box{
    display: block;
    width: 100%;
    max-height: 80px !important;
    margin: 0 auto;
  }
.company_logo_box img.company_logo{
  display: block;
  width: 80% !important;
  max-height: 100% !important;
}
.company_logo_box img.h_80{
  height: 50px !important;
}
.company_logo_box img.h_50{
  height: 50px !important;
}

.page-top h2.title {
  font-size: 32px;
  font-weight: 100;
  color: #fff;
  letter-spacing: 5px;
  margin-bottom: 20px; }
.page-top p.subtitle {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #e6e6e6; }

.home-widget,
.page-section {
  padding: 70px 0; }
  .home-widget.section-grey,
  .page-section.section-grey {
    background: #f3f3f3; }
  .home-widget.dark-section,
  .page-section.dark-section {
    background: #000; }
  .home-widget.accent-section,
  .page-section.accent-section {
    background: #eb7a5c; }
  .home-widget.parallax-section,
  .page-section.parallax-section {
    padding: 0;
    background: #000;
    color: #fff;
    overflow: hidden; }
    .home-widget.parallax-section .parallax-bg,
    .page-section.parallax-section .parallax-bg {
      padding: 70px 0; }
  .home-widget.no-space,
  .page-section.no-space {
    padding: 0; }

.parallax-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  #slide-1 .parallax-bg {
    background-image: url("assets/img/parallax1.jpg"); }
  #slide-2 .parallax-bg {
    background-image: url("assets/img/parallax2.jpg"); }
  #fun-fact .parallax-bg {
    background-image: url("assets/img/eye.jpg"); }
#timer .parallax-bg {
  background-image: url("assets/img/melbourne-city.jpg");
  padding: 120px 0;
}
#timer  #clock{
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    display: block;
    width: 100%;
    margin: 8px;
  }
  #testimonials .parallax-bg {
    background-image: url("assets/img/melbourne-city.jpg"); }
  #portfolio-single .parallax-bg {
    background-image: url("assets/img/slide2.jpg"); }
  #shortcodes .parallax-bg {
    background-image: url("assets/img/parallax4.jpg"); }
  #blog .parallax-bg {
    background-image: url("assets/img/slide2.jpg"); }
  #promotion .parallax-bg {
    background-image: url("assets/img/melbourne-city.jpg"); }

.widget-title {
  text-align: center;
  margin-bottom: 70px; }
  .widget-title h1{
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;}
    .widget-title h1:after{
      content: '';
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
      height: 2px;
      background: #eb7a5c;
      margin-top: 15px;
    }

  .widget-title h2{
    font-size: 28px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    font-weight: 300;
    display: inline-block; }
    .widget-title h2:after{
      content: '';
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70px;
      height: 1px;
      background: #eb7a5c;
      margin-top: 5px; }
  .parallax-section .widget-title h2 {
    color: #fff;
    border-color: #b7b7b7; }
  .footer-widgets .widget-title {
    text-align: left;
    margin-bottom: 40px; }
    .footer-widgets .widget-title h2 {
      font-size: 24px;
      color: #fff;
      border-color: #6a6a6a; }
      .footer-widgets .widget-title h2:after {
        margin-left: 0;
        margin-right: 0; }
  .footer_terms_list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #fff;
  }
  .footer_terms_link{
    display: inline-block;
    padding: 0 5px;
  }
.footer_terms_link a{
  color: #fff;
}
.seperator {
  margin: 15px 0;
  border-bottom: 1px solid #ddd; }

.go-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999; }
  .go-top a {
    display: block;
    color: #fff; }

/* Footer
-------------------------------------------------------------- */
footer.site-footer {
  background: #000;
  color: #fff; }
  footer.site-footer .footer-widgets .widget {
    padding: 80px 0; }
  footer.site-footer .footer-bottom {
    padding-top: 60px;
    padding-bottom: 20px;
    border-top: 1px solid #1f1f1f; }
  footer.site-footer .social-icons a {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 5px;
    border-radius: 3px; }
  footer.site-footer .contact-form input[type="text"],
  footer.site-footer .contact-form input[type="email"],
  footer.site-footer .contact-form input[type="file"],
  footer.site-footer .contact-form select,
  footer.site-footer .contact-form textarea {
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    color: #cccccc; }
    footer.site-footer .contact-form input[type="text"]:-moz-placeholder,
    footer.site-footer .contact-form input[type="email"]:-moz-placeholder,
    footer.site-footer .contact-form select:-moz-placeholder,
    footer.site-footer .contact-form textarea:-moz-placeholder {
      color: #cccccc; }
    footer.site-footer .contact-form input[type="text"]::-moz-placeholder,
    footer.site-footer .contact-form input[type="email"]::-moz-placeholder,
    footer.site-footer .contact-form select::-moz-placeholder,
    footer.site-footer .contact-form textarea::-moz-placeholder {
      color: #cccccc; }
    footer.site-footer .contact-form input[type="text"]:-ms-input-placeholder,
    footer.site-footer .contact-form input[type="email"]:-ms-input-placeholder,
    footer.site-footer .contact-form select:-ms-input-placeholder,
    footer.site-footer .contact-form textarea:-ms-input-placeholder {
      color: #cccccc; }
    footer.site-footer .contact-form input[type="text"]::-webkit-input-placeholder,
    footer.site-footer .contact-form input[type="email"]::-webkit-input-placeholder,
    footer.site-footer .contact-form select::-webkit-input-placeholder,
    footer.site-footer .contact-form textarea::-webkit-input-placeholder {
      color: #cccccc; }
/* Blog
-------------------------------------------------------------- */
.blog-masonry h3.post-title {
  font-size: 16px;
  font-weight: normal; }
.post-thumbnail img{
  width: 80%;
  display: block;
  margin: 0 auto;
}
.strong-text{
  font-weight: bold;
}
.post-content img{
  display: block;
  margin: 0 auto;
}
.post-content ul{
  display: block;
  width: 100%;
  margin: 0 auto 30px;
}
.blog-post h3.post-title {
  display: block;
  margin: 20px 0 10px 0; }
.blog-post h3.post-title a {
  color: #000;
  -moz-transition: color 0.15s;
  -o-transition: color 0.15s;
  -webkit-transition: color 0.15s;
  transition: color 0.15s; }
.blog-post h3.post-title a:hover {
  color: #eb7a5c; }
.blog-post .post-meta {
  margin-bottom: 15px; }
.blog-post .post-meta span {
  text-transform: uppercase;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #a2a2a2;
  margin-right: 25px; }
.blog-post .post-meta span i {
  font-size: 12px;
  margin-right: 10px; }
.blog-post .read-more {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px; }

.post-inner p {
  margin-bottom: 20px; }


/*PROMOTION PAGE*/
/*-------------------------------------*/

.prom_img_box{
  padding: 15px 0;
}
.prom_img_box div img{
  display: block;
  margin: 0 auto;
  width: 100%;
}

/*!* Portfolio*/
/*-------------------------------------------------------------- *!*/
/*.portfolio-post {*/
  /*overflow: hidden; }*/
  /*.portfolio-post .portfolio-box {*/
    /*position: relative;*/
    /*background: #f3f3f3;*/
    /*overflow: hidden;*/
    /*margin-bottom: 30px;*/
    /*display: block;*/
    /*z-index: 11; }*/
    /*.portfolio-post .portfolio-box:hover .portfolio-hover {*/
      /*visibility: visible;*/
      /*opacity: 1; }*/
    /*.portfolio-post .portfolio-box:hover .hover-info {*/
      /*visibility: visible;*/
      /*-moz-transform: translate3d(0, 0, 0);*/
      /*-ms-transform: translate3d(0, 0, 0);*/
      /*-webkit-transform: translate3d(0, 0, 0);*/
      /*transform: translate3d(0, 0, 0); }*/
  /*.portfolio-post .portfolio-hover {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: rgba(255, 255, 255, 0.86);*/
    /*z-index: 12;*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*-moz-transition: all, 0.4s, ease-in-out;*/
    /*-o-transition: all, 0.4s, ease-in-out;*/
    /*-webkit-transition: all, 0.4s, ease-in-out;*/
    /*transition: all, 0.4s, ease-in-out; }*/
  /*.portfolio-post .hover-info {*/
    /*text-align: center;*/
    /*visibility: hidden;*/
    /*-moz-transform: translate3d(0, 20px, 0);*/
    /*-ms-transform: translate3d(0, 20px, 0);*/
    /*-webkit-transform: translate3d(0, 20px, 0);*/
    /*transform: translate3d(0, 20px, 0);*/
    /*-moz-transition: all 0.25s;*/
    /*-o-transition: all 0.25s;*/
    /*-webkit-transition: all 0.25s;*/
    /*transition: all 0.25s;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*padding: 30px; }*/
    /*.portfolio-post .hover-info h3 {*/
      /*color: #000;*/
      /*font-size: 16px;*/
      /*font-weight: normal; }*/
    /*.portfolio-post .hover-info span {*/
      /*color: #000;*/
      /*font-size: 10px;*/
      /*text-transform: uppercase;*/
      /*letter-spacing: 1px; }*/
  /*.portfolio-post img {*/
    /*width: 100%;*/
    /*display: block; }*/

/*!* Team*/
/*-------------------------------------------------------------- *!*/
/*.team-member {*/
  /*text-align: center; }*/
  /*@media (max-width: 992px) {*/
    /*.team-member {*/
      /*margin-bottom: 30px; } }*/
  /*.team-member .team-image {*/
    /*position: relative;*/
    /*overflow: hidden; }*/
    /*.team-member .team-image img {*/
      /*display: block;*/
      /*width: 100%; }*/
    /*.team-member .team-image .hover {*/
      /*position: absolute;*/
      /*top: 0;*/
      /*left: 0;*/
      /*width: 100%;*/
      /*height: 100%;*/
      /*background: rgba(255, 255, 255, 0.86);*/
      /*color: #000;*/
      /*padding: 40px 20px;*/
      /*opacity: 0;*/
      /*visibility: hidden;*/
      /*-moz-transition: all 200ms;*/
      /*-o-transition: all 200ms;*/
      /*-webkit-transition: all 200ms;*/
      /*transition: all 200ms; }*/
      /*.team-member .team-image .hover a {*/
        /*color: #000;*/
        /*display: inline-block;*/
        /*font-size: 12px;*/
        /*margin: 5px 7px; }*/
  /*.team-member:hover .hover {*/
    /*opacity: 1;*/
    /*visibility: visible; }*/
  /*.team-member h4 {*/
    /*font-size: 16px;*/
    /*font-weight: normal; }*/
  /*.team-member span.role {*/
    /*text-transform: uppercase;*/
    /*font-size: 11px;*/
    /*letter-spacing: 2px; }*/

/*!* Testimonials*/
/*-------------------------------------------------------------- *!*/
/*.testimonials-wrapper .testimonial-item {*/
  /*padding-left: 80px;*/
  /*padding-right: 80px;*/
  /*margin-bottom: 30px;*/
  /*text-align: center; }*/
/*.testimonials-wrapper .quote-icon {*/
  /*margin-bottom: 30px;*/
  /*width: 40px;*/
  /*height: 40px;*/
  /*border: 1px solid #fff;*/
  /*border-radius: 20px;*/
  /*line-height: 40px; }*/
/*.testimonials-wrapper .author-testimonial {*/
  /*margin-top: 30px;*/
  /*display: block; }*/
  /*.testimonials-wrapper .author-testimonial h3 {*/
    /*color: #fff;*/
    /*display: inline-block;*/
    /*margin-right: 5px;*/
    /*font-size: 14px; }*/
    /*.testimonials-wrapper .author-testimonial h3:after {*/
      /*content: '-';*/
      /*margin-left: 10px; }*/
  /*.testimonials-wrapper .author-testimonial span {*/
    /*color: #cccccc;*/
    /*margin-left: 5px; }*/

/*!* Clients*/
/*-------------------------------------------------------------- *!*/
/*.clients-wrapper .client-item {*/
  /*margin-right: 40px;*/
  /*margin-left: 40px;*/
  /*opacity: 0.5; }*/
  /*.clients-wrapper .client-item:hover {*/
    /*opacity: 1; }*/

/* Speakers page */
#testimonials.home-widget{
  color: #ffffff;
  padding-bottom: 0;
}
#testimonials.home-widget .title{
  color: #ffffff;
}
.testimonials-wrapper{
  min-height: 400px;
}
.testimonial-item{
  display: block;
  width: 100%;
  /*min-height: 500px;*/
  padding-top: 100px;
  border-bottom: 1px solid #fff;
  overflow: auto;
}
.testimonial-item:last-child{
  border: none;
  margin-bottom: 70px;
}
.speak_img_box img{
  display: block;
  margin: 0 auto;
}
.sp_comp_logo img{
  max-height: 80px;
}
.speaker_name{
  text-align: center;
  color: #ffffff;
  display: block;
  margin-bottom: 30px;
}
.speaker_name:after{
  content: '';
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 1px;
  background: #eb7a5c;
  margin-top: 5px;
}
.speaker_descr_wrap{
  margin-bottom: 50px;
}
.speaker_descr_info{
  margin-bottom: 10px;
  font-size: 14px;
}
.speaker_descr_list{
  margin-top: 10px;
}
.speaker_company_box{
  display: block;
  width: 300px;
  min-height: 100px;
  margin: -75px auto 0;
  background: rgba(0,0,0,0.4);
  position: relative;
  z-index: 200;
}
.speaker_company_box p{
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}
.speaker_company_box p a{
  color: #eb7a5c;
}
.speaker_company_box .sp_comp_logo{
  display: block;
  width: 80%;
  margin: 0 auto;
}

-------------------------------------------------------------- */
#sb-site.confirm_bg{
  background-image: url("assets/img/confirm_bg.JPG");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
#sb-site.confirm_bg h1{
  color: #fff;
}
#sb-site.confirm_bg .intro{
  font-size: 16px;
}

/* Confirm subscribe page styles
-------------------------------------------------------------- */

.services-type-1 .s-title {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: normal; }
.services-type-1 .service-post img {
  width: 100%; }
@media (max-width: 992px) {
  .services-type-1 .service-post {
    margin-bottom: 30px; } }

.services-type-2 .service-post {
  background: #fff;
  padding: 30px;
  text-align: center;
  position: relative;
  z-index: 12;
  margin-bottom: 30px;
  -moz-box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.08); }
  /*.services-type-2 .service-post:hover .s-hover {*/
    /*height: 100%; }*/
  /*.services-type-2 .service-post:hover .s-icon {*/
    /*border-color: #fff; }*/
    /*.services-type-2 .service-post:hover .s-icon i {*/
      /*color: #fff; }*/
  /*.services-type-2 .service-post:hover .s-title {*/
    /*color: #fff; }*/
  /*.services-type-2 .service-post:hover .s-description {*/
    /*color: #fff; }*/
.services-type-2 .s-hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 0px;
  background: #eb7a5c;
  -moz-transition: width, 250ms;
  -o-transition: width, 250ms;
  -webkit-transition: width, 250ms;
  transition: width, 250ms; }
.services-type-2 .s-content {
  position: relative;
  z-index: 13; }
.services-type-2 .s-icon {
  margin: 10px 0 20px 0;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  border: 2px solid #eb7a5c;
  margin-left: auto;
  margin-right: auto;
  line-height: 50px;
  -moz-transition: color, 250ms;
  -o-transition: color, 250ms;
  -webkit-transition: color, 250ms;
  transition: color, 250ms; }

  .services-type-2 .s-icon i {
    font-size: 16px;
    color: #eb7a5c; }

.services-type-2 .s-title {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 15px;
  -moz-transition: color, 250ms;
  -o-transition: color, 250ms;
  -webkit-transition: color, 250ms;
  transition: color, 250ms; }
.services-type-2 .s-description {
  min-height: 160px;
  -moz-transition: color, 250ms;
  -o-transition: color, 250ms;
  -webkit-transition: color, 250ms;
  transition: color, 250ms; }

/* Custom Page
-------------------------------------------------------------- */
.post-navigation {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  .post-navigation .nav-prev {
    width: 50%;
    float: left; }
  .post-navigation .nav-next {
    width: 50%;
    float: right;
    text-align: right; }
  .post-navigation em {
    text-transform: uppercase;
    color: #a2a2a2;
    display: block;
    font-size: 12px; }
  .post-navigation span {
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    color: #000; }

  .header_descr{
    text-align: center;
    display: inline-block;
    float: left;
    width: 40%;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    margin: 3px 17px 0 0;
}
  .scrolled-header .header_descr{
    color: #000;
  }
  .tp-caption{
    white-space: normal;
  }
  .caption .capt-subtitle{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
    -moz-transition: color, 250ms;
    -o-transition: color, 250ms;
    -webkit-transition: color, 250ms;
    transition: color, 250ms;
    color: #ffffff;
  }
  .caption .caption-desc{
    font-size: 20px !important;
    line-height: 1.4 !important;
  }
 .caption .caption-desc.center{
  text-align: center;
 }
  #show_form{
    margin-bottom: 30px;
  }
  #fun-fact .intro{
    font-family: "Open Sans", sans-serif;
    color: #cccccc;
  }
}




.categories ul {
  margin: 0; }


*/
/* Comment Form
-------------------------------------------------------------- */
.comment-respond {
  padding: 60px 0;
  padding-bottom: 0; }

.comment-form {
  margin-top: 50px; }
#fun-fact .contact-form input[type="text"],
#fun-fact .contact-form input[type="email"],
#fun-fact .contact-form input[type="file"],
#fun-fact .contact-form select,
#fun-fact .contact-form textarea {
  background: rgba(255, 255, 255, 0.1);
  border: 0;
  color: #cccccc; }
#fun-fact .contact-form input[type="text"]:-moz-placeholder,
#fun-fact .contact-form input[type="email"]:-moz-placeholder,
#fun-fact .contact-form select:-moz-placeholder,
#fun-fact .contact-form textarea:-moz-placeholder {
  color: #cccccc; }
#fun-fact .contact-form input[type="text"]::-moz-placeholder,
#fun-fact .contact-form input[type="email"]::-moz-placeholder,
#fun-fact .contact-form select::-moz-placeholder,
#fun-fact .contact-form textarea::-moz-placeholder {
  color: #cccccc; }
#fun-fact .contact-form input[type="text"]:-ms-input-placeholder,
#fun-fact .contact-form input[type="email"]:-ms-input-placeholder,
#fun-fact .contact-form select:-ms-input-placeholder,
#fun-fact .contact-form textarea:-ms-input-placeholder {
  color: #cccccc; }
#fun-fact .contact-form input[type="text"]::-webkit-input-placeholder,
#fun-fact .contact-form input[type="email"]::-webkit-input-placeholder,
#fun-fact .contact-form select::-webkit-input-placeholder,
#fun-fact .contact-form textarea::-webkit-input-placeholder {
  color: #cccccc; }
/* Wordpress pre-defined styles
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

img {
  max-width: 100%;
  height: none;
  vertical-align: middle; }
  img.alighright {
    float: right;
    margin: 5px 0 20px 20px; }
  img.alignnone {
    margin: 5px 20px 20px 0; }
  img.alignleft {
    float: left;
    margin: 5px 20px 20px 0; }
  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.wp-caption {
  max-width: 100%;
  padding: 5px 3px 10px;
  text-align: center; }
  .wp-caption img {
    margin: 0;
    padding: 0; }
  .wp-caption.alignnone {
    margin: 5px 20px 20px 0; }
  .wp-caption.alignleft {
    margin: 5px 20px 20px 0; }
  .wp-caption.alignright {
    margin: 5px 0 20px 20px; }

.wp-caption-text {
  color: black; }

/*# sourceMappingURL=style.css.map */

/*Last styles by KRY*/
.caption .capt-subtitle{
  font-size: 20px;
  font-weight: bold;
}
.footer_adress{
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.footer_numbers{
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.copyright-text{
  text-align: right;
}
/* top bar subscribe ------------------------------------------*/
.subscribe_box{
  display: inline-block;
  width: 35%;
  float: right;
  margin: 5px auto;
  height: 42px;
}
.subscribe_form{
  width: 100%;
  text-align: right;
  display: block;
}
.subscibe_email{
  display: inline-block;
  width: 50%;
  margin-bottom: 0 !important;
  color: #444;
  padding: 10px;
  outline: 0;
  border: 1px solid #ddd;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.spon_title_box{
  display: block;
  text-align: left;
  margin-bottom: 50px;
}
.spons_title_icon{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
.spons_title_icon img{
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 20px;
}
.spons_title{
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  position: relative;
  font-size: 26px;
  line-height: 40px;
  vertical-align: middle;
}
.general_title_box .spons_title{
  color: #e9795b;
}
.gold_title_box .spons_title{
  color: #F8C21A;
}
.platinum_title_box .spons_title{
  color: #989696;
}
.sponsors_list{
  display: block;
  letter-spacing: normal;
  margin: 40px auto;
  width: 96%;
}
.sponsors_list .sponsor_item{
  display: inline-block;
  width: 18%;
  float: left;
  margin-right: 2%;
  margin-bottom: 6%;
  position: relative;
}
.sponsors_list .sponsor_item.ap_item_platinum{
  width: 14%;
}
.sponsors_list .sponsor_item.ap_item_gold{
  width: 12%;
}
.sponsors_list .sponsor_item:last-child{
  margin-right: 0;
}
.sponsor_item a{
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 20px;
  background: #c3c3c3;
}
.ap_item_general:before{
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background: #e9795b;
  left: 0;
  top: -10%;
}
.ap_item_gold:before{
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background: #F8C21A;
  left: 0;
  top: -10%;
}
.ap_item_platinum:before{
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 5px;
  background: #989696;
  left: 0;
  top: -10%;
}
.ap_item_platinum a{
  background: #ffffff;
}
.ap_item_platinum .sponsor_logo{
  height: 105px;
  padding: 0;
}

.sponsor_item a p{
  position: absolute;
  width: 102%;
  height: 102%;
  left: -1%;
  padding-top: 40%;
  color: #fff;
  box-sizing: border-box;
  font-size: 16px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
  top: 0;
  -webkit-transform: translateY(100%) translatez(-1px);
  -ms-transform: translateY(100%) translatez(-1px);
  transform: translateY(100%) translatez(-1px);
  -webkit-transition: -webkit-transform .2s ease-out, opacity .3s ease-out;
  transition: transform .2s ease-out, opacity .3s ease-out;
}
.sponsor_item a:hover p, .sponsor_item a:focus p{
  -webkit-transform:translateY(0%) translatez(-1px);
  -ms-transform:translateY(0%) translatez(-1px);
  transform:translateY(0%) translatez(-1px);
}
.sponsor_logo{
  padding: 20%;
}
#become_sponsor .s-content{
  text-align: center;
}
.hexCompLogo{
  position: absolute;
  display: block;
  left: -13%;
  bottom: 21%;
  width: 50%;
  z-index: 1000;
  -webkit-transform: rotate(70deg) skewY(21deg) translatez(-7px);
  -ms-transform: rotate(70deg) skewY(21deg) translatez(-7px);
  transform: rotate(70deg) skewY(21deg) translatez(-7px);
}
.hexCompLogo img{
  width: 100%;
  position: static;
}
#dialog_link{
  display: block;
}

/* file upload img -------------------------------------------------------------- */
#fun-fact .contact-form input[type="file"]{
  height: 42px !important;
  line-height: 10pt !important;
  display: block; !important;
  -webkit-appearance: none !important;;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select file';
  display: inline-block;
  border-right: 1px solid #999;
  padding-right: 20px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: rgba(255,255,255,.1);
}
#example3{
  margin: 0 auto 25px;
  text-align: -webkit-center;
  height: 100px;
}
#сancel_form{
  display: block;
  margin: 0 auto;
  height: 42px;
  padding: 10px 20px;
  width: 140px;
  text-align: center;
}
/* Contact
-------------------------------------------------------------- */
.show-map-button {
  text-align: center !important;
  background: #eb7a5c !important;
  padding: 30px 0 !important;
  }
  .show-map-button a {
    cursor: pointer;
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Open Sans", sans-serif; }

#map-holder {
  width: 100%;
  height: 410px;
  z-index: 0;
  position: relative;
  display: block;
/*  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); */
}

.map-tooltip {
  padding: 10px; }
  .map-tooltip h6 {
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: #000; }

/* Homepage Widgets
-------------------------------------------------------------- */
/*==========  Desktop First Method  ==========*/


.newyear_banner:before{
  background: rgba(0,0,0,.7);
  width: 100%;
  height: 20%;

}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .logo{
    max-width: 100px;
    padding-right: 20px;
    margin: 12px auto;
  }
  .logo .site-brand,
  .header_descr{
    font-size:16px;
    }
  .header_descr{
    float: left;
    text-align: left;
    width: 40%;
    margin: 0 auto;
  }
  .subscribe_box{
    width: 45%;
    margin: 0;
  }
  .subscribe_box .subscribe_submit{
    height: 45px;
    margin-left: -6px;

  }
  .subscribe_form .subscibe_email{
    height: 45px;
  }
  .speaker_box{
    width: 100%;
  }
  .speaker_descr_box{
    width: 100%;
    height: 30px;
    margin: 10px auto;
  }
  .speaker_descr_box .speaker_title{
    font-size: 14px;
    padding: 0;
    font-weight: normal;
    line-height: 0,8;
  }
  .speaker_descr_box p{
    margin: 0;
    padding: 0;
    font-size: 10px;
  }
  .speaker_descr_box .h50{
    max-height: 30px;
  }

  .about_img-box img{
    display: block;
    margin: 0 auto;
  }

  .ap_item_platinum .sponsor_logo{
    height: 70px;
  }
  .testimonial-item{
    height: 100%;
  }
  .testimonial-item h2{
    font-size: 24px;
  }
  .speaker_company_box{
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .logo .site-brand {
    font-weight: bold;
  }

  .header_descr {
    float: left;
    text-align: left;
    width: 60%;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0;
  }

  .header_descr br {
    display: none;
  }

  .sb-toggle-right {
    padding: 0 15px;
    width: 10%;
  }

  .sb-toggle-right i {
    padding: 0;
    font-size: 32px;
  }

  .subscribe_box {
    width: 55%;
    height: 30px;
    text-align: left;
    float: left;
  }

  .subscribe_form {
    text-align: left;
  }

  .subscribe_box .subscribe_submit {
    height: 25px;
    margin-left: -6px;
    padding: 0 12px;
  }

  .subscribe_form .subscibe_email {
    height: 25px;
  }

  ul.main-menu > li a {
    padding: 5px 0 0;
  }

  .home-widget, .page-section,
  .home-widget.parallax-section .parallax-bg, .page-section.parallax-section .parallax-bg {
    padding: 40px 0;
  }

  .slider-caption .caption-btns {
    margin-top: 10px !important;
  }

  .widget-title {
    margin-bottom: 30px;
  }

  p.intro {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 15px;
  }

  .slider-caption h1 {
    font-size: 30px !important;
    line-height: 1.2 !important;
  }

  .caption .caption-desc,
  .caption .caption-desc a {
    font-size: 16px !important;
    line-height: 1.3 !important;
  }

  .caption .capt-subtitle {
    font-size: 20px;
  }

  .slider-caption span.caption-desc,
  .slider-caption p.caption-desc {
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #cccccc;
    display: block;
    margin: 0 auto 15px;
  }

  .slider-caption h1.sponsor_title {
    margin-top: 30px;
  }

  .slider-caption .caption-btns a {
    display: block;
    width: 50% !important;
    font-size: 16px !important;
    margin: 0 auto !important;
    padding: 15px !important;
  }

  .services-type-2 .service-post {
    padding: 20px;
    margin-bottom: 20px;
  }

  #show_form {
    display: block;
    width: 80%;
    margin: 0 auto 20px;
    text-align: center;
  }

  #timer #clock {
    font-size: 21px;
  }

  .tparrows.preview2 .tp-arr-titleholder {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    visibility: visible;
    position: absolute;
  }
  .company_logo_box img.h_50{
    max-height: 30px !important;
  }
  .prom_img_box{
    padding: 0;
  }
  .prom_img_box div img{
    max-width: 60%;
    padding: 15px 0;
  }
}
  @media only screen and (max-width : 620px) {
    .page-intro .home-slider .col-xs-3{
      padding-left: 5px;
      padding-right: 5px;
    }
    .speaker_box img{
      width: 80% !important;
      height: auto !important;
    }
    .speaker_descr_box{
      height: auto;
      padding: 5px 0;
    }
    .speaker_descr_box .speaker_title{
      font-size: 10px;
      line-height: 12px;
    }
    .speaker_descr_box p{
      line-height: 10px;
    }
x
  }

/* Extra Small Devices, Phones */
@media only screen and (max-width : 525px) {
  .logo{
    max-width: 60px;
    margin: 0 auto 5px;
    padding: 0;
    float: none;
    text-align: center;
    display: block;
  }
  .header_descr{
    width: 100%;
    float: none;
    display: block;
    margin: 0 auto 5px;
    font-size: 13px;
    line-height: 1.2;
    text-align: center;
  }
  .header_descr br{
    display: none;
  }
  .fixed-header .container:before{
    display: none;
  }
  .subscribe_box{
    width: 100%;
    margin: 0 auto 5px;
    display: block;
    float: none;
    text-align: center;
  }
  .subscribe_form{
    text-align: center;
  }
  .sb-toggle-right{
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .sb-toggle-right i{
    padding: 0;
    font-size: 32px;
    text-align: center;
  }
  .speaker_box img{
    width: 100% !important;
    height: auto !important;
  }
  .speaker_descr_box{
    min-height: 60px;
    margin: 0 auto;
  }
  .speaker_descr_box .speaker_title{
    margin-bottom: 5px;
  }
  .company_logo_box img.h_50 {
    height: 20px !important;
    margin-top: 5px;
  }
  #timer #clock{
    font-size: 18px;
  }
  .center,
  p.intro{
    text-align: center;
  }
  .slider-caption h1,
  .widget-title h2{
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .caption .capt-subtitle {
    font-size: 16px ;
    line-height: 1.2;
  }

  .slider-caption span.caption-desc,
  .slider-caption p.caption-desc  {
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    color: #cccccc;
    display: block;
    margin: 0 auto 10px;
  }
  .slider-caption .caption-btns a {
    width: 80% !important;
  }
  .services-type-2 .s-description{
    min-height: auto;
  }
  .spon_title_box{
    text-align: left;
    margin-bottom: 20px;
  }
  .sponsors_list .sponsor_item{
    width: 30%;
    margin: 2% 1% 10%;
  }
  .sponsor_item a{
    padding: 5px;
  }
  .ap_item_platinum:before{
    top: -20%;
  }
  .ap_item_gold:before{
    top: -25%;
  }
  .ap_item_platinum .sponsor_logo{
    height: 30px;
  }
  .prom_img_box div img{
    max-width: 80%;
    padding: 5px 0;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 375px) {
  .header_descr{
    text-align: center;
    font-weight: bold;
    font-size: 9px;
  }
  .subscribe_box .subscribe_submit{
    height: 30px;
    margin-left: -9px;
    font-size: 10px;
    padding: 8px 10px;
  }
  .subscribe_form .subscibe_email{
    height: 30px;
  }
  .slider-caption span.caption-desc, .slider-caption p.caption-desc{
    margin-bottom: 5px;
    color: #ffffff;
  }
  .caption .capt-subtitle{
    display: none;
  }
  .speaker_descr_box .speaker_title{
    font-size: 12px;
  }
  .speaker_descr_box p{
    font-size: 10px;
    line-height: 0.8;
  }
}
  /* Small Devices, Tablets LANDSCAPE */
  @media only screen and (orientation: landscape) and (max-width : 1025px) {
    .logo{
      max-width: 100px;
      margin: 5px 10px 5px 0;
    }
    .header_descr{
      margin: 5px;
      font-size: 14px;
    }
    ul.main-menu > li{
      padding: 0 10px;
    }
    ul.main-menu > li a{
      padding: 5px 0;
    }
    .slider-caption span.caption-desc, .slider-caption p.caption-desc{
      font-size: 14px !important;
      line-height: 1.2 !important;
      margin-bottom: 5px !important;
    }
    .slider-caption h1{
      font-size: 24px !important;
      line-height: 1.2 !important;
    }
    .widget-title h1:after{
      margin-bottom: 5px;
    }
    .caption .caption-desc{
      font-size: 16px !important;
      line-height: 1.4 !important;
    }
    .services-type-2 .service-post{
      padding: 15px;
      margin-bottom: 15px;
    }
    .services-type-2 .s-description{
      min-height: auto;
    }
    .header_descr br{
      display: none;
    }
  }



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}